<div class="banner">
    <div class="banner-center">
    <h1>Hoppyz</h1>
    <p>Les rencontres de la <em>bière</em></p>
    </div>
</div>


<div class="accueil">
  <div>gauche</div>
  <div>droite</div>
</div>


<div class="particuliers"></div>

<div class="groupes">

</div>

<div class="brasseurs"></div>

<div class="restaurateurs"></div>

<div class="agenda"></div>

<div class="contact"></div>
